/* Cabeçalho: */
.cabecalho__nav {
    width: 100vw;
    position: relative;
}

.nav__superior {
    height: 5em;
}

.nav__superior__buttons,
.nav__inferior {
    position: fixed;
    background-color: var(--cor-background-escuro);
    width: 100%;
    height: 4.3em;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5em;
}

.nav__superior__img img {
    width: 100%;
    position: absolute;
    top: 40%;
    z-index: 50;
}


.nav__superior__buttons {
    top: 0;
    -webkit-box-shadow: 0px 10px 39px -10px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px 10px 39px -10px rgba(0, 0, 0, 0.58);
    box-shadow: 0px 10px 39px -10px rgba(0, 0, 0, 0.58);
}

.nav__inferior {
    bottom: 0;
    -webkit-box-shadow: 0px -10px 39px -10px rgba(0, 0, 0, 0.58);
    -moz-box-shadow: 0px -10px 39px -10px rgba(0, 0, 0, 0.58);
    box-shadow: 0px -10px 39px -10px rgba(0, 0, 0, 0.58);
}

.btn-menu {
    width: 40px;
    margin: .5em;
}

/* @media: */

@media (min-width: 530px) {
    .nav__superior__img img {
        top: 20%;
    }
}

@media (min-width: 630px) {
    .nav__superior__img img {
        top: 5%;
    }
}

@media (min-width: 700px) {
    .nav__superior__img img {
        top: -15%;
    }
}

@media (min-width: 820px) {
    .nav__superior__img img {
        display: none;
    }
}