.section__apelido {
    text-align: center;
    position: relative;
    top: -50px;
}

.section__apelido__chamada {
    line-height: 1.1em;
    position: relative;
}

.section__apelido__chamada img {
    width: 300px;
}

.section__apelido__icones {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: space-around;
}

.section__apelido__icones img {
    width: 100px;
}

.section__apelido__icones-superior {
    top: 15%;
}

.section__apelido__icones-inferior {
    bottom: 2.3em;
}

.section__apelido__icones-inferior img:nth-child(1) {
   
}
.section__apelido__icones-inferior img:nth-child(2) {
    
}